---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'Sudo';
  src: url('../fonts/SudoVariable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nintend';
  src: url('../fonts/NintendBoldRM8E.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font: 18px/1.5 "Sudo", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  max-width:20cqh;
  align-self: center;
}

ul {
  list-style: none;
}

li {
  margin-top: -4em;
}

header {
  width: 15vw;
  height: 100vh;
  container-type: inline-size;

  a, div, h3, p {
    margin: 0;
    font-size: clamp(0.01rem, 3cqh, 2.4rem);
    display: flex;
    flex-wrap: nowrap;
  }

  hr {
    margin: 1cqh;
  }

  z-index: -1;
}

footer {
  position: relative;
  bottom: 0px;
}

.wrapper {
  width:65vw;
  margin:0 auto;
}

section {
  width:45vw;
  float:right;
  padding-bottom:50px;
}

.vertical-line {
  position: relative;
  margin-left: -16px;
  border-left: 2px solid black; /* Sets the line thickness, style, and color */
  height: 4em;                /* Sets the length of your line */
  top: 4em;
}

.social-container {
  padding-top: 0em;
}

.socials {
  max-width: 30cqw;
}

.category-splash-text {
  position: fixed;
  bottom: 0;
  left: 0;

  transform: rotate(-90deg);
  transform-origin: left top;

  white-space: nowrap;

  font: 14px/1.5 "Nintend", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 6vh;
  color: lightskyblue;
  opacity: 0.35;

  z-index: -1;
}

.penguin-splash {
  max-width:15%;
  align-self: center;

  position: fixed;
  bottom: -3%;
  right: 0;
}

.category-home {
  color: #ffcaef;
  border-color: #ffcaef;
}

.category-general {
  color: #ffcaef;
  border-color: #ffcaef;
}

.category-programming {
  color: #8acaff;
  border-color: #8acaff;
}

.category-electrical {
  color: #ffb977;
  border-color: #ffb977;
}

.category-mechanical {
  color: #ff5230;
  border-color: #ff5230;
}

.category-fabrication {
  color: #2ecc71;
  border-color: #2ecc71;
}

.team-link {
  font: 3cqh/1.5 "Nintend", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-wrap: nowrap;
}