<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script src="https://kit.fontawesome.com/5d46a52212.js" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!--<h1>{{ site.title | default: site.github.repository_name }}</a></h1>-->

        {% if site.logo %}
        <a href="{{ "/" | absolute_url }}">
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        </a>
        {% endif %}

        <hr>

        <h3>Follow CATCH! ^_^</h3>
        <div class="social-container">
          <a class="socials category-{{ page.team | default: 'home' }}" href="{{ site.discord_link | absolute_url }}"><i class="fa-brands fa-discord fa-2x"></i></a>
          <a class="socials category-{{ page.team | default: 'home' }}"><i class="fa-brands fa-github fa-2x"></i></a>
          <a class="socials category-{{ page.team | default: 'home' }}" href="{{ "https://www.instagram.com/frc.mesoju/" | absolute_url }}"><i class="fa-brands fa-instagram fa-2x"></i></a>
        </div>

        <!--<p>{{ site.description | default: site.github.project_tagline }}</p>-->

        <hr>
        
        <h3>Learn More About Us!</h3>
        <a href="{{ "/mesoju" | absolute_url }}">Vincent Tong (mesoju)</a>
        <br>
        <a>Jerry Zheng</a>
        <hr>
        <h3>Filter</h3>
        <a class="team-link category-programming" href="{{ "/programming" | absolute_url }}">Programming</a>
        <a class="team-link category-electrical" href="{{ "/electrical" | absolute_url }}">Electrical</a>

        <hr>

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}
      </header>
      <section>

      {{ content }}

      {% if page.append_posts == true %}
        <ul class="post-list">
          {%- for post in site.posts -%}
            {% if post.team == page.team or page.team == "home" %}
              <li>
                <div class="vertical-line category-{{ post.team | default: 'home' }}"></div>
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <h3 style="margin-bottom: 0px;">
                  <a class="post-link category-{{ post.team | default: 'home' }}" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
                <h5>{{ post.author }}</h5>
              </li>
            {% endif %}
          {%- endfor -%}
        </ul>
      {% endif %}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>

      <div class="category-splash-text category-{{ page.team | default: 'home' }}">{{ page.team | default: 'home' | upcase }}</div>
      <img class="penguin-splash" src="{{ site.penguin_splash | relative_url}}" alt="Logo" />
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>